/* font 
font-family: 'Courgette', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Nobile', sans-serif;


color: #47555E;
color: #EEEEEE;
color: #C69C6D;
*/

/*----------- Reset ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*------------ GLobal----------*/
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nobile', sans-serif;
    font-size: 16px;
}

main {
    height: 110vh;
}
h1 {
    font-family: 'Courgette', cursive;
    color: #47555E;
    text-align: center;
    padding: 20px;
}

.header {
    gap: 1rem;
    background-color: #47555E;
    color: #EEEEEE;
    font-family: 'Lancelot', cursive;    
}

.header__logo {
    width: 8rem;
    height: 8rem;
}
/*----- -----*/

   /* Navbar */
    .navbar {  
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    padding:10px;
    font-size:1.1rem;
    background:#47555E;
    color:#EEEEEE;
    }

    .navbar__links { 
    display:flex;  
    }
    .navbar__link { 
    padding:0 10px;
    }
    .navbar__link > a { 
    color:#EEEEEE;
    }

    @media screen and (max-width:767px) {
        .navbar__links { 
            overflow:hidden;
            display:flex;
            flex-direction:column;
            width:0;
            height:calc(100vh - 65px);  
            position:absolute;
            top:95px;
            left:0;     
            background:transparent;     
            transform: translateX(110%);
            transition: all .5s ease-in-out;
            z-index: 3;
        }
        .show-nav .navbar__links { 
            
            width:100vw;    
            transform: translateX(0);
        } 
        .navbar__link {    
            transform: translateX(101%);
            transition: all .5s ease-in-out;
        }
        
        .show-nav .navbar__link  {        
            transform: translateX(0);    
        }   
        .navbar__link > a {
            display:block;
            padding:1rem;
            font-size:1.6rem;
            color:#EEEEEE;  
            transition: all .4s ease-in-out;
        }
        .navbar__link > a:hover {
            padding-left:2rem;
            letter-spacing:5px;
        }
    }

    /* Toggle menu */
    .burger {
        display:block;
        position:relative;
        padding:0;
        width:45px;
        height:45px;
        border:none;
        background:transparent;
        cursor:pointer;

    }
    .bar {
        display:block;    
        width:45px;
        height:4px;  
        border-radius:3px;
        background:#EEEEEE; 
        transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
        content:"";
        width:45px;
        height:4px;
        position:absolute; 
        left:0;  
        background:#EEEEEE; 
        border-radius:3px;    
        transition: all .5s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px)
    }
    .bar::after {
        transform:translateY(12px)
    }
    .show-nav .bar {
        width:0;
        background:transparent;    
    }
    .show-nav .bar::before {
        transform:rotate(45deg);
    }
    .show-nav .bar::after {
        transform:rotate(-45deg);
    }

/* ---------- footer ----------*/
.footer {
    color: #EEEEEE;
    background-color: #47555E;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a {
    color: #EEEEEE;
    font-size: 12px;
}
.footer a:hover {
    color: #C69C6D;
}
.flux {
    display: flex;
    margin: 1% 10%;
    justify-content: space-between;
    gap: 10px;
}
.copyright {
    align-self: center;
}

.bi{
    font-size: 30px;
}

p .bi {
    font-size: 16px;
}

/*---------- Specific : Home page ----------*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/photoaccueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__title {
    color: #C69C6D;
    font-family: 'Courgette', cursive;
}
/*---------- Specific : Gallery Iamge ---------*/
.galery__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
}
.galery__image {
    max-width: 250px;
    max-height: auto;
    display: none;
}

.active {
    display: block;
}
.button__list {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    background-color: #EEEEEE;
    color: #47555E;
    border: #47555E solid 1px;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}

button:hover {
    color: #C69C6D;
    border: #C69C6D solid 1px;
}

/*------------ Psecifc page conatct--------*/
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form label {
    color: #47555E;
}
.form input {
    font-size: 1em;
    padding: 0.4rem;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #47555E;
    color: #47555E;
    margin: 10px;
    font-family: 'Nobile', sans-serif;

}

.form textarea {
    font-size: 1em;
    padding: 0.4rem;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid #47555E;
    color: #47555E;
    margin: 10px;
    font-family: 'Nobile', sans-serif;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #47555E;
    margin-bottom: 2%;
    gap: 10px;
}
/*------------ Media Queries -----------*/

@media screen and (min-width:768px) {
    .navbar__link > a::after {
        display:block;
        content:"";
        width:0;
        height:1px;
        background:#47555E;
        transition:width .4s;
    }
    .navbar__link:hover > a::after {
        width:100%;
    }
    .burger{
        display: none;
    }
    
/*----------- survol des liens----------*/
    .navbar__links {
        display: flex;
        column-gap: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__link a {
        color: #EEEEEE;
        font-size: 1.6rem;
    }

    .navbar__link{
        font-weight: 400;
        font-size: 14px;
    }

    .navbar__link::after{
        content: "";
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 0;
        height: 2px;
        background: #EEEEEE;
        transition: width 0.2s ease-in-out;
    }

    .navbar__link:hover:after{
        width: 2rem;
    }

    /*------ galery ------*/
    .galery__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* form -*/
    .form input {
        width: 500px;
    }

    .form textarea {
        width: 500px;
    }

}